
.header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 12%;
    margin: 0px;
    padding: 0px;
}
.logo {
    max-height: 100%;
}
.social{
    max-height: 100%;
    display: flex;
}
.social li{
    margin-left: 15px;
    list-style: none;
}
.social li a{
    display: block;
    padding: 10px;
}
.social li a:hover{
    opacity: 0.5;
}
