@font-face {
    font-family: foxfont;
    src: url("../fonts/DaysOne-Regular.ttf");
}
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
}

main {

    margin: 0 auto;
    width: 100%;
    position: relative;
}




