@font-face {
    font-family: foxfont;
    src: url("../fonts/DaysOne-Regular.ttf");
}
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.home {
    margin: 0;
    width: 100%;
    background-color: black;
    height: 12%;
}
main {
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.logo {
    float: left;
    width: 70%;
}
.social ul li{
    margin-left: 10px;
    display: inline-block;
    float: left;
    list-style: none;
}
.social ul li a:hover{
    opacity: 0.5;
}
.social{
    margin-top: 0;
    width: 20%;
    float: right;
}

.welcome {
    width: 100%;
    height: 100%;
    background-image: url("../img/tmd_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.arrow{
    width: 48px;
    height: 48px;
    margin-left: 50%;
}
.welcomeText {
    font-family: foxfont;
    font-size: 48px;
    color: white;
    float: left;
    position: static;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 25%;
    margin-right: 25%;
    position: static;

}
.games {
    width: 100%;
    height: 100%;
    position: relative;
    background-color :darkorange;
    font-size: 48px;
}
.games ul li{
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10;
    display: inline-block;
    list-style: none;
}
.aboutus {
    width: 100%;
    height: 100%;
    background-color :white;
    font-size: 48px;
}
.footer{
    width: 100%;
    background-color :black;
    height: 10%;  
}
.footerText{
    color: white;
}

