@font-face {
    font-family: foxfont;
    src: url("../fonts/DaysOne-Regular.ttf");
}
.welcome {
    width: 100%;
    height: 100%;
    background-color: black;

    position: relative;
}
.arrow{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-80%,-50%);
}
.welcomeText {
    max-height: 100%;
    font-family: foxfont;
    font-size: 48px;
    color: white;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);

}
.videoBg {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-0%);
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.15;
}
